<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browserName" value="Firefox" />
	<!-- <parameter name="thirdBrowser" value="HTMLUnit" /> -->
	<test name="Test1">
		<classes>
			<!-- <class name="com.softserve.edu.tests.FourthTest"> <methods> <include 
				name="testSeleniumIDE" /> </methods> </class> -->
			<!-- <class name="com.softserve.edu.tests.SixthTest" /> -->
			<!-- <class name="com.softserve.edu.AppTest" /> -->
			<class name="com.softserve.edu.magento.tests.PreSmokeTest" />
		</classes>
	</test> <!-- Test -->
	<!-- - - - - - - - - - -->
</suite> <!-- Suite -->
