<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="loginurl"
		value="http://java.training.local:8080/registrator/login" />
	<parameter name="logouturl"
		value="http://java.training.local:8080/registrator/logout" />
	<test name="Test1">
		<classes>
			<class name="com.softserve.edu.FourthTest">
				<methods>
					<include name="testSeleniumIDE" />
				</methods>
			</class>
			<class name="com.softserve.edu.FifthTest" />
		</classes>
	</test> <!-- Test -->
	<!-- - - - - - - - - - -->
</suite> <!-- Suite -->
